:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
H1 {
  text-align: center;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-input {
  margin-right: 10px;
}

input {
  width: 272px;
  height: 40px;
  color: #000;
  background-color: #fff;
}

button {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  color: white;
  border-color: aliceblue;
}

.search-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
  list-style-type: none;
}

.gallery-item {
  width: 360px;
  border-color: #000;
  border-radius: 10px;
  background-color: #f1e5e5; /* Темный цвет фона */
  color: #141313; /* Цвет текста */
  padding: 5px; /* Отступы для контента внутри элемента */
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.image-description {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Пространство между элементами в описании */
}

p {
  flex: 1 0 calc(25% - 8px); /* 25% ширины контейнера за вычетом пространства между элементами */
  text-align: center;
  display: block;
}
